<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us | F1 Fantasy Analysis</title>
    <meta name="description" content="How the Fantasy Formula One Analysis website came about and where is it going">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Mitchell Sparrow">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{{ url_for('static',filename='images/large_logo.png') }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/small_logo.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/medium_logo.png') }}" sizes="32x32">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css', version='42') }}"  />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156393130-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-156393130-2');
    </script>
	<noscript><link rel="stylesheet" href="../static/styles/noscript.css" /></noscript>
</head>

<body class = "is-preload">
    <div id="loading">
        <img id="loading-image" src="{{ url_for('static',filename='images/Rocket.gif') }}" alt="Loading..." />
    </div>

    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="{{ url_for('home') }}" class="logo"><strong>F1 Analysis</strong> <span>by Mitchell Sparrow</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('fantasy_suggestions') }}">F1 Fantasy Team Suggestions</a></li>
                <li><a href="{{ url_for('bets') }}">F1 Betting Data</a></li>
                <li><a href="{{ url_for('news') }}">Latest F1 News</a></li>
                <li><a href="{{ url_for('explain') }}">How it works</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <section class="major">
            <div id="main" class="alt">
                <!-- One -->
                    <section id="one">
                        <div class="inner">
                            <header class="major">
                                <h1>About</h1>
                            </header>
                            <!-- Content -->
                            <h2 id="content">Why? Just why?</h2>
                            <p>This application was developed to try and help me do better in a formula 1 fantasy league. To put it nicely I was quite horrible so I wanted to find out what combination of drivers was 'theoretically' the best. I therefore made this application to help me do that. After using it for a few races I found that it did help me with my team choice quite a bit and so I thought that others could possibly benefit from it too.</p>
                            <h2 id="content">What the future holds</h2>
                            <p>I hope to add quite a bit of functionality in the future. I am a huge fan of Artificial Intelligence and Machine Learning, and I would love to someday implement some sort of prediction model into this application. Some other elements that I hope to add in future would be a risk factor based on the number of times each driver has crashed, as well as some sort of historic data based on weather conditions and different tracks.</p>
                            <h2 id="content">Keep updated</h2>
                            <p>If you would like to keep updated with future updates then you can follow us on Instagram, which is linked below. If you have any suggestions for any future features then please do not hesitate to contact us, we really do value your input.</p>
                            <h2 id="content">The team</h2>
                            <p>This project is currently a one man job. My name is Mitchell Sparrow and I am a Computer Science Masters student at the University of Nottingham, UK. I previously completed my undergraduate degree in Mechatronic Engineering at the University of Stellenbosch. I am a huge fan of Artificial Intelligence and Machine Learning, computers, coding and robotics. If you would like to find out more then please do check out my LinkedIn page by clicking the LinkedIn icon below.</p>
                            <h2 id="content">Privacy policy</h2>
                            <p>If you want to find out more about our privacy policy then please click the button below.</p>
                            <ul class="actions">
                                <li><a href="https://www.termsfeed.com/live/983158b2-ed54-4a0f-ab8d-915864e265a3" target="_blank" class="button next scrolly">Privacy Policy</a></li>
                            </ul>
                             <!-- Footer -->
                            <footer style="padding: 2em 0 0 0 ;" id="footer">
                                <div class="inner">
                                    <ul class="icons">
                                        <li><a href="https://github.com/MitchellSparrow/" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                                        <li><a href="https://www.linkedin.com/in/mitchell-sparrow/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                        <li><a href="https://www.instagram.com/f1fantasyanalysis/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                                    </ul>
                                    <ul class="copyright">
                                        <li> <a href="https://www.termsfeed.com/live/983158b2-ed54-4a0f-ab8d-915864e265a3" target="_blank">Privacy Policy</a> </li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                                    </ul>
                                </div>
                            </footer>
                        </div>
                    </section>
            </div>
        </section>
    
       

    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/util.js') }}" ></script>
    <script  src="{{ url_for('static', filename='scripts/main.js', version='42') }}"></script>
    <script  src="{{ url_for('static', filename='scripts/main2.js', version='42') }}"></script>


</body>


</html>