<!DOCTYPE html>
<html lang="en">
<head>
    <title>F1 Fantasy Analysis and Team Suggestions Application | F1 Fantasy Analysis</title>
    <meta name="description" content="A free fantasy formula 1 team suggestion application">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Mitchell Sparrow">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{{ url_for('static',filename='images/large_logo.png') }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/small_logo.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/medium_logo.png') }}" sizes="32x32">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}"  />
	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156393130-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-156393130-2');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1680707615267811"
    crossorigin="anonymous"></script>
    <script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
    </script>
	<noscript><link rel="stylesheet" href="../static/styles/noscript.css" /></noscript>
</head>

<body class = "is-preload">
    <div id="loading">
        <img id="loading-image" src="{{ url_for('static',filename='images/Rocket.gif') }}" alt="Loading..." />
    </div>

    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="{{ url_for('home') }}" class="logo"><strong>F1 Analysis</strong> <span>by Mitchell Sparrow</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('explain') }}">How it works</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <section class="major">
            <div id="main" class="alt">
                <!-- One -->
                    <section id="one">
                        <div class="inner">
                            <header class="major">
                                <h1>Contact</h1>
                            </header>
    
                            <!-- Content -->
                            <h2 id="content">How to get in touch</h2>
                            <p>If you have any suggestions for future features, experience any bugs or content issues, or just want to reach out for any other reason then please do not hesitate to fill in the form below to get in touch. We will aim to get back to you as soon as we can.</p>
                            
                        </div>
                    </section>
                    <!-- Contact -->
                    <section id="contact">
                        <div class="inner">
                            <section>
                                <form method="post" action="https://formsubmit.co/f1fantasyanalysis@gmail.com">
                                    <div class="fields">
                                        <input type="hidden" name="_next" value = "https://www.f1fantasyanalysis.com/thanks/">
                                        <div class="field half">
                                            <label for="name">Name</label>
                                            <input type="text" name="name" id="name" required />
                                        </div>
                                        <div class="field half">
                                            <label for="email">Email</label>
                                            <input type="text" name="email" id="email" required/>
                                        </div>
                                        <div class="field">
                                            <label for="message">Message</label>
                                            <textarea name="message" id="message" rows="6" required></textarea>
                                        </div>
                                    </div>
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" class="primary" /></li>
                                        <li><input type="reset" value="Clear" /></li>
                                    </ul>
                                </form>
                            </section>
                        </div>
                    </section>
            </div>
        </section>
    
        <!-- Footer -->
        <footer style="padding: 2em 0 0 0 ;" id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://github.com/MitchellSparrow/" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="https://www.linkedin.com/in/mitchell-sparrow/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://www.instagram.com/f1fantasyanalysis/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/util.js') }}" ></script>
    <script  src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script  src="{{ url_for('static', filename='scripts/main2.js') }}"></script>


</body>


</html>