<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fantasy Formula One Team Suggestions | F1 Fantasy Analysis</title>
    <meta name="description" content="A free Fantasy Formula One team suggestion application which can help you perform better">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Mitchell Sparrow">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{{ url_for('static',filename='images/large_logo.png') }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/small_logo.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/medium_logo.png') }}" sizes="32x32">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css', version='42') }}"  />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156393130-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-156393130-2');
    </script>
	<noscript><link rel="stylesheet" href="../static/styles/noscript.css" /></noscript>
</head>

<body class = "main_body">
    <div id="loading">
        <img id="loading-image" src="{{ url_for('static',filename='images/Rocket.gif') }}" alt="Loading..." />
    </div>

    <div id="wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <a href="{{ url_for('home') }}" class="logo"><strong>F1 Analysis</strong> <span>by Mitchell Sparrow</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('fantasy_suggestions') }}">F1 Fantasy Team Suggestions</a></li>
                <li><a href="{{ url_for('bets') }}">F1 Betting Data</a></li>
                <li><a href="{{ url_for('news') }}">Latest F1 News</a></li>
                <li><a href="{{ url_for('explain') }}">How it works</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <section class="major">
            <div id="main" class="alt">
                <!-- One -->
                    <section  id="one" class="major">
                        <div class="inner"  >
                            <header style="width: 100%;" class="major">
                                <h1 style="width: 100%;">Fantasy Formula One Team Suggestions</h1>
                            </header>
                            <p>The team suggestion tool will soon become available after the drivers have scored some points (after the first grand prix). However, head over to the betting data page on our website to find out what the current betting odds are for the upcoming grand prix as well as the overall championship.</p>
                            <!-- <h3>Search for team suggestions below:</h3> -->
                            <ul class="actions">
                                <li><a href="{{ url_for('bets') }}" class="button next scrolly">F1 Betting Data</a></li>
                            </ul>
                        </div>
                    </section>

            </div>
        </section>


        <section>
            <div class="inner">
                <h2 style="padding: 0.5em 0 0.5em 0em; " class="content"></h2>
            </div>
            
        </section>

    
        <section class="major">
            <div id="table_inner" class="inner">
                {{data | safe}}
            </div>
        </section>
        

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://github.com/MitchellSparrow/" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="https://www.linkedin.com/in/mitchell-sparrow/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://www.instagram.com/f1fantasyanalysis/" target="_blank" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
                <ul class="copyright">
                    <li> <a href="https://www.termsfeed.com/live/983158b2-ed54-4a0f-ab8d-915864e265a3" target="_blank">Privacy Policy</a> </li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>

        
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/util.js') }}" ></script>
    <script  src="{{ url_for('static', filename='scripts/main.js', version='42') }}"></script>
    <script  src="{{ url_for('static', filename='scripts/main2.js', version='42') }}"></script>


</body>


</html>