<!DOCTYPE html>
<html lang="en">
<head>
    <title>F1 Fantasy Tracker</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/small_logo.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/medium_logo.png') }}" sizes="32x32">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}"  />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156393130-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-156393130-2');
    </script>
	<noscript><link rel="stylesheet" href="../static/styles/noscript.css" /></noscript>
</head>

<body class = "main_body">
    <div id="loading">
        <img id="loading-image" src="{{ url_for('static',filename='images/Rocket.gif') }}" alt="Loading..." />
    </div>

    <div id="wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <a href="{{ url_for('home') }}" class="logo"><strong>F1 Analysis</strong> <span>by Mitchell Sparrow</span></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
           
        </nav>

        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>Your favorite F1 fantasy analysis tool</h1>
                </header>
                <div class="content">
                    <p>A site to help you select better F1 fantasy teams<br />
                    so that you never loose another bet with your mates.</p>
                    <ul class="actions">
                        <li><a href="{{ url_for('about') }}" class="button next scrolly">How it works</a></li>
                    </ul>
                </div>
                
            </div>
        </section>

        <!-- Search bar -->

        <section id="search_bar">
            <div class="inner">
                <form name="budget_form" action="/analysis/" method="POST">
                    <div class="fields">
                        <div class="field half">
                            <label for="search">Budget (in million)</label>
                            <input type="text" name="budget" id="search"/>
                        </div>
                        <div class="field half">
                            <ul class="actions">
                                <div id="search_button">
                                    <li><input name="budget" type="submit" value="Search" class="primary" onclick="$('#loading').show();" /></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </section>


        <section class="major">
            <div id="table_inner" class="inner">
                {{data | safe}}
            </div>
            
        </section>

        

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://github.com/MitchellSparrow/" target="_blank" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="https://www.linkedin.com/in/mitchell-sparrow/" target="_blank" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>

        
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.scrolly.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/jquery.scrollex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/util.js') }}" ></script>
    <script  src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script  src="{{ url_for('static', filename='scripts/main2.js') }}"></script>


</body>


</html>